@use "../../scss_variables/variables";

.Accordeon-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    min-width: 100%;
    background-color: variables.$primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: variables.$font-size-medium;
    @media (max-width: variables.$small) {
      font-size: variables.$small-font-size-medium;
      height: 30px;
    }
  
    &.Accordeon-button_open {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .fa-angle{
      font-size: 24px;
      @media (max-width: variables.$small) {
        font-size: 16px;
      }}}

.Accordeon-content {
    
    background-color: rgba(246, 246, 246, 0.45);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out; 
    overflow: hidden;
    max-height: 0; 
    visibility: hidden; 
    font-size: variables.$font-size-medium;
    @media (max-width: variables.$small) {
      font-size: variables.$small-font-size-medium;
    }
  
    &.open {
      max-height: 1000px; 
      visibility: visible; 
      transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out; 
    }

    ul {
      list-style-type: none;
      padding: 25px 20px;
      margin: 0;
      @media (max-width: variables.$small) {
        padding: 15px 15px;
      }
    }

    ul li {
      padding:0 0 5px 0;
    }

    p {
      padding: 25px 20px 0;
      margin: 0;
      @media (max-width: variables.$small) {
        padding: 15px 15px;
      }
    }
  }
