
//Colors
$primary-color : rgba(255, 96, 96, 1);

//Font Sizes
$font-size-Large : 36px;
$font-size-medium: 18px;
$font-size-small: 14px;
$font-error: 288px;
//Font Weight
$font-weight-1 :500;
$font-weight-2 :700;