.footer{
    background-color: black;
    padding: 65px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;


}