
@use "../../scss_variables/variables";


.detail-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: variables.$small) {
        flex-direction: column;
        align-items: flex-start;
      }

}
.detail-page_title{
    h2{
        color: variables.$primary-color;
        font-size: variables.$font-size-Very-Large;
        font-weight: variables.$font-weight-1;
        margin-bottom: 0;
        @media (max-width: variables.$small) {
            font-size: variables.$small-font-size-Very-Large;
            
          }
    }
    h3{
        font-weight: variables.$font-weight-1;
        font-size: variables.$font-size-medium;
        margin: 0 0 20px;
        @media (max-width: variables.$small) {
            font-size: variables.$small-font-size-medium;
            margin: 0 0 10px;
          }

    }
  
}
.detail-page_tags{
    display: flex;
    gap: 10px;
    
    .tag{
        font-weight: variables.$font-weight-2;
        font-size: variables.$font-size-small;
        margin: 0 0 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color:variables.$primary-color;
        padding:  0 10px;
        height: 25px;
        min-width: 115px;
        border-radius:10px ;
        @media (max-width: variables.$small) {
            font-size: variables.$small-font-size-small;
            margin: 0 0 15px;
            border-radius:5px ;
            min-width: 84px;
            height: 18px;
          }
        
    }
}
.host-info{

display: flex;
flex-direction: column;
align-items: end;
width: 100%;
@media (max-width: variables.$small) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.host{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    p{
        color: variables.$primary-color;
        font-size: variables.$font-size-medium;
        margin: 0;
        @media (max-width: variables.$small) {
            font-size: variables.$small-font-size-medium;
            
          }
    }
    img{
        border-radius: 50%;
        width: 64px;
        height: 64px;
        @media (max-width: variables.$small) {
            width: 32px;
            height: 32px;
            
          }
    }
}

.rating{
    font-size: variables.$font-size-Large;
    @media (max-width: variables.$small) {
        font-size: variables.$small-font-size-Large;
        
      }
.unrated{
    color: rgba(227, 227, 227, 1);
}
.rated{color: variables.$primary-color;
}

}